<header>
    <div class="headerContent">
    <div id="headerTitle">
        <h1>{{ title or "Adrian Victor" }}</h1>
        <p id="headerSubtitle"><i>{{ subtitle or "Fanasy is not a crime, find your castle in the sky." }}</i></p>
    </div>
    <div id="linksHelper">
        <div id="music"></div>
    
        <ul id="headerLinks">
            {% if langKey %}
            <a href="{{ ('/' ~ langKey ~ '/') | url }}"{% if headerLink == "home" %} style="text-decoration: underline; color: white;"{% endif %}>{{ i18n[langKey].home }}</a>
            <a href="{{ ('/' ~ langKey ~ '/blog/') | url }}" {% if headerLink == "blog" %} style="text-decoration: underline; color: white;"{% endif %}>blog</a>
            <a href="{{ ('/' ~ langKey ~ '/misc/') | url }}" {% if headerLink == "misc" %} style="text-decoration: underline; color: white;"{% endif %}>misc</a>
            <a href="{{ ('/' ~ langKey ~ '/social/') | url }}" {% if headerLink == "social" %} style="text-decoration: underline; color: white;"{% endif %}>social</a>
            {% endif %}
            {% if langKey == undefined %}
            <a href="{{ ('/') | url }}">home</a>
            {% endif %}
            <a rel="me" href="https://mstdn.social/@tenkuma" style="display: none;">Mastodon</a>
            <a href="https://github.com/adrianvic" rel="me" style="display: none;">github.com/aaronpk</a>
        </ul>
    </div>
    </div>
    {# <marquee scrollamount="10vw" style="opacity: .8; background-color: rgb(0,0,0, 0.4); postion: fixed; bottom: 0; left: 0;">test</marquee> #}
</header>
<script type="module" src="{{ '/static/scripts/tumblr-adapt.js' | url }}"></script>