---
pagination:
  data: i18n
  size: 1
  alias: langKey
permalink: "/{{ langKey }}/blog/index.html"
layout: base.njk
title: Adrian Victor:Blog
---

<main>
  <p><b>{{ i18n[langKey].blogTitle | smartTitle }}</b></p>
  <ul>
    {% for post in collections.post %}
      {% if post.data.langKey == langKey %}
        <li>
          <p>
            <a href="{{ post.url | url }}">{{ post.data.postTitle }}</a><br>
            <b>{{ post.data.date | postDate }}</b>{% if post.data.lastModified | postDate !==  post.data.date | postDate %} ({{ i18n[langKey].lastEditedIn }} {{ post.data.lastModified | postDate}}){% endif %}
          </p>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</main>