---
permalink: "/index.html"
layout: base.njk
langKey: "en"
---
<script src="/static/scripts/language.js" defer></script>
<style>
    #headerLinks {
        display: none!important;
    }
</style>
<main>
    <h1 id="languageTitle">Pick a language</h1>
    <ul id="languageList">
        <li><a href="/en/">English</a></li>
        <li><a href="/pt/">Português Brasileiro</a></li>
    </ul>
</main>