<center>
    <div class="droidringwidget">
        <a href="https://kanandraw.neocities.org/stuffs/droidring/home"><img src="https://kanandraw.neocities.org/stuffs/droidring/assets/logo.png" style="width: 200px; padding: .4em;" alt="Droidring"></a><br/>
        <!-- <img src="https://kanandraw.neocities.org/stuffs/droidring/assets/droidwidget.png" style="width: 115px;"><br> -->
        <div class="buttonsdroidring">
            <a href="https://kanandraw.neocities.org/stuffs/droidring/home?action=previous"><button class="navdroidring" data-tip="{{ i18n[langKey].previousSite | smartTitle }}">←</button></a>
            <a href="https://kanandraw.neocities.org/stuffs/droidring/home?action=random"><button class="navdroidring" data-tip="{{ i18n[langKey].random | smartTitle }}">⇄</button></a>
            <a href="https://kanandraw.neocities.org/stuffs/droidring/home?action=next"><button class="navdroidring" data-tip="{{ i18n[langKey].nextSite | smartTitle }}">→</button></a>
        </div>
        <style>
            .droidringwidget {
                font-family: 'Droid Sans',sans-serif;
                align-content: center;
                text-align: center;
                /* width: 215px; */
                border: 1px solid #666666;
                background: linear-gradient(0deg, black, #000000db);
                padding: 5px;
            }
            .buttonsdroidring {
                background: #989898;
                padding: 4px;
                margin: -5px;
            }
            
            .navdroidring {
                background: linear-gradient(to bottom, #F1F1F1, #B8B8B8);
                padding: 5px;
                color: black;
                box-shadow: 0 3px 6px #00000029, 0 3px 6px #0000003B;
                border: none;
                width: 50px;
                height: 27px;
                min-width: 50px;
            }
            .navdroidring:active {
                background: linear-gradient(to bottom,#FFD554,#E99D00);
            }
            .navdroidring:hover {
                background: linear-gradient(to bottom, #ffebc4, #f2f2f2);
            }
        </style>
    </div>
</center>