<!DOCTYPE html>
<html lang="{{ langKey }}">
<head>
    <meta charset="UTF-8">
    <title>Adrian Victor{% if pageTitle or postTitle %} - {{pageTitle or postTitle}}{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="/static/main.css?fixcache=1">
    <script src="/static/scripts/ccd.js"></script>
    <script src="/static/scripts/main.js" defer></script>
    <script defer>const language = '{{ langKey }}';</script>
    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
    <link rel="manifest" href="/static/site.webmanifest">
</head>
<body>
    <style>
        .bg {
            opacity: {{ backgroundOpacity or ".4" }}!important;
        }
    </style>
    <div id="everythingHelper">
    <img src="/static/images/{{ background or "bear.jpg" }}" class="bg">
        {% include "header.njk" %}
        <div id="mainHelper">
            {{ content | safe }}
        </div>
    </div>
</body>
</html>