<header>
    <div>
        <h1>{{ title or "Adrian Victor" }}</h1>
        <a id="headerSubtitle"><i>{{ subtitle or "Fanasy is not a crime, find your castle in the sky." }}</i></a>
        <script>
            const headeri18n =
                {
                    by: "{{ i18n[langKey].by | safe }}",
                    options: "{{ i18n[langKey].options | safe }}",
                    hideBackground: "{{ i18n[langKey].hideBackground | safe }}",
                    back: "{{ i18n[langKey].back | safe }}",
                    permissionIssue: "{{ i18n[langKey].permissionIssue | safe }}",
                    permissionIssueNotificationContent: "{{ i18n[langKey].permissionIssueNotificationContent | safe }}",
                    notificationDefaultHint: "{{ i18n[langKey].notificationDefaultHint | safe }}",
                }
        </script>
    </div>
    <div id="linksHelper">
        <div id="music"></div>
    
        <ul id="headerLinks">
            <a href="{{ ('/' ~ langKey ~ '/') | url }}">{{ i18n[langKey].home }}</a>
            <a href="{{ ('/' ~ langKey ~ '/blog/') | url }}">blog</a>
            <a href="{{ ('/' ~ langKey ~ '/misc/') | url }}">misc</a>
        </ul>
    </div>
</header>