---
pageTitle: kumaOS
pagination:
  data: languages
  size: 1
  alias: langKey
---

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{{ '/static/kumos/kumos.css' | url }}">
  <script type="module" src="{{ '/static/kumos/kernel.mjs' | url }}" defer></script>
  <script type="module" src="{{ '/static/kumos/system/init.mjs' | url }}" defer></script>
</head>
<body>
  <div style="user-select: none; pointer-events: none; display: flex; gap: 1em;">
    <h1>kumaOS</h1>
    <p>demo - not for production</p>
  </div>
  <style>
    body {
      background-image: url("{{ '/static/images/bliss-dark.jpg' | url }}");
      background-size: cover;
      width: 100vw;
      height: 100vh;
      overflow: hidden;
      margin: 0;
    }
  </style>
</body>
</html>