---
layout: base.njk
pagination:
  data: languages
  size: 1
  alias: langKey
tags: misc
background: towers.jpg
backgroundOpacity: .2
---
{% from "macros.njk" import i88x31 with context %}

<main>
  <div class="box pageHeaderBox">
    <h1>{{ t.pageTitle }}</h1>
    <p>{{ t.intro }}</p>
    {{ i88x31("BOOKMARKthispageNOW.png") }}
  </div>
  <hr>
  {% for sectionName, section in c.links %}
  <div>
    <h2>{{ t[sectionName] }}</h2>
    {% if section.88x31 %}
    <div class="box favorites88x31Box">
      {% for 88x31 in section.88x31 %}
      {{ i88x31(88x31) }}
      {% endfor %}
    </div>
    {% endif %}
    <dl>
      {% for link in section.links %}
      <div class="favoritesDefinitionListItem">
        <dt><a href="{{ link.link }}">{{ link.name }}</a></dt>
        <hr class="favoritesDivider">
        <dd>
          {{ link.description[langKey] }}
          <div class="favorite88x31Box">
            {% if link.88x31 %}
            {% for 88x31 in link.88x31 %}
            {{ i88x31(88x31) }}
            {% endfor %}
            {% endif %}
          </div>
        </dd>
      </div>
      {% endfor %}
    </dl>
    {% endfor %}
  </main>