---
layout: base.njk
pagination:
  data: languages
  size: 1
  alias: langKey
<!-- 88x31: WEBP.gif -->
pageTitle: 88x31
tags: misc
---
{% from "macros.njk" import i88x31 with context %}

<main class="misc88x31Page">
  <div class="box pageHeaderBox">
    <h1>88x31</h1>
    <p>{{ t.intro }}</p>
  </div>
  <hr>
    <h2>{{ t.me }}</h2>
    <div class="homeBadgesBox">
    {{ i88x31("tenkuma.gif") }}
    </div>
  <h2>{{ t.others }}</h2>
  <div class="homeBadgesBox">
    {% for image in collections.88x31 %}
    {{ i88x31(image.fileSlug) }}
    {% endfor %}
  </div>
</main>